<h1>Tinh chi so BMI</h1>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<form asp-action="index">
    <label>Nhap so lieu</label>
    <label><br>Nhap chieu cao</label>
    <input type="number" name="chieucao">
    <label>Nhap can nang</label>
    <input type="number" name="cannang">
    <input type="submit" value="Gui"
</form>
<h2>@ViewBag.Message</h2>