<form asp-action ="Index">
    <label>Nhập tên môn học</label>
    <input type="text" name="SubjectName" />
    <label>Nhập điểm A</label>
    <input type="text" name="ScoreA" />
    <label>Nhập điểm B</label>
    <input type="text" name="ScoreB" />
    <label>Nhập điểm C</label>
    <input type="text" name="ScoreC" />
    <input type="submit" value="Tính điểm trung bìnhbình học phần" />
</form>
<h2>Điểm trung bình môn học của bạn là: @ViewBag.Message</h2>
