<h1>Tinh tien hoa don</h1>
<form asp-action="Hoadon">
    <label><br>Nhap so luong</label>
    <input type="number" name="soluong">
    <label>Nhap don gia</label>
    <input type="number" name="dongia">
    <input type="submit" value="Gui"
</form>
<h2>@ViewBag.tongtien VND</h2>