<h1>Tinh diem mon hoc</h1>
<form asp-action="index">
    <label>Nhap diem</label>
    <label><br>diem A</label>
    <input type="number" name="A">
    <label>diem B</label>
    <input type="number" name="B">
    <label for="">diem C</label>
    <input type="number" name="C">
    <input type="submit" value="Gui"
</form>
<h2>@ViewBag.Message</h2>